<ngx-loading-bar [includeSpinner]="false"></ngx-loading-bar>

<mat-toolbar>
  <a routerLink="/characters" mat-button>
    Characters
  </a>
  <a routerLink="/movies" mat-button>
    Movies
  </a>

  <ng-container *ngIf="currentDetails$ | async as details">
    <span class="current-details" *ngIf="details.character">
      Current Character: {{details.character.name}}
    </span>

    <span class="current-details" *ngIf="details.movie">
      Current Movie: {{details.movie.title}}
    </span>
  </ng-container>
</mat-toolbar>

<div class="content">
  <div>
    <router-outlet></router-outlet>
  </div>
  <div>
    <router-outlet name="details"></router-outlet>
  </div>
</div>
