.current-details {
  font-size: 14px;
  margin-left: 20px;
}

.content {
  display: flex;
}

.content > * {
  flex: 1;
  min-width: 0;
}

.left-content::ng-deep a, .left-content::ng-deep a:visited {
  color: rgb(0, 102, 204);
}
